body, button, form, form input, form label, form input::placeholder {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
}

input[type=text], input[type=number], input[type=value], select {
    font-size: inherit;
}

button {
    text-align: center;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(228, 228, 228);
    color: rgb(0, 0, 0);
    width: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
}

.deleteButton {
    margin-right: 15px;
}

#libraryContainer {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.book {
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    width: 400px;
    padding: 30px;
    margin-bottom: 20px;
}

.formDiv {
    background-color: rgb(216, 255, 215);
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 400px;
    margin-top: 15px;
    padding: 30px;
    border-radius: 8px;
}